<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SeleniumAutomation">
<listeners>
<listener class-name="Base.ListenersClass"/>
</listeners>
 <test name="Selenium" parallel="classes">
 <classes>
 <class name="TestCases.BarCodeAutomation" />
 <class name="TestCases.PWCTest" />
 </classes>
 </test>
</suite>